@charset "UTF-8";
/* line 7, core/01__structure.scss */
.header,
.breadcrumbs,
.main-inner
.footer {
  position: relative; }
  /* line 19, core/00__var.scss */
  .header:after,
  .breadcrumbs:after,
  .main-inner
  .footer:after {
    display: block;
    content: "";
    clear: both; }

/* line 18, core/01__structure.scss */
.primary > div {
  position: relative; }
  /* line 19, core/00__var.scss */
  .primary > div:after {
    display: block;
    content: "";
    clear: both; }

/* line 24, core/01__structure.scss */
.cont-fluid .primary > .area {
  max-width: none; }

/* line 30, core/01__structure.scss */
main {
  float: left;
  width: 100%; }
  /* line 34, core/01__structure.scss */
  main .main-inner {
    padding: 20px 15px; }
  /* line 37, core/01__structure.scss */
  main.sbl .main-inner {
    margin-left: 300px; }
  /* line 42, core/01__structure.scss */
  main.sbr .main-inner {
    margin-right: 300px; }

/* line 49, core/01__structure.scss */
.sidebar-right {
  margin: 0 0 0 -300px;
  width: 300px;
  float: right;
  padding: 20px 0 0 0; }

/* line 58, core/01__structure.scss */
.sidebar-left {
  width: 300px;
  float: left;
  margin: 0 0 0 -100%;
  padding: 20px; }

/* line 68, core/01__structure.scss */
.sidebar-left,
.sidebar-right {
  position: relative; }
  /* line 19, core/00__var.scss */
  .sidebar-left:after,
  .sidebar-right:after {
    display: block;
    content: "";
    clear: both; }

/* line 7, core/02__global.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

/* line 12, core/02__global.scss */
body {
  font-family: Arial, sans-serif;
  color: #000;
  font-size: 16px;
  background: #fff;
  line-height: 1.4;
  height: 100% !important; }

/* line 22, core/02__global.scss */
#global {
  background: #fff url("/themes/basic/img/bg.jpg") scroll repeat 0 0;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

/* line 33, core/02__global.scss */
.primary {
  position: relative;
  z-index: 0;
  flex: 1 0 auto; }
  /* line 38, core/02__global.scss */
  .primary > .area {
    box-shadow: -5px 0px 3px -3px rgba(0, 0, 0, 0.1), 5px 0px 3px -3px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9);
    min-height: 100%; }

/* line 44, core/02__global.scss */
.main-before,
header.header,
footer.footer {
  flex: 0 0 auto; }

/* line 50, core/02__global.scss */
.area {
  max-width: 1280px;
  margin: 0 auto; }

/* line 59, core/02__global.scss */
img {
  display: inline-block;
  max-width: 100%; }

/* line 66, core/02__global.scss */
a, a:focus, a:visited, a:active, a:hover {
  color: #315ba2; }

/* line 77, core/02__global.scss */
html .owl-carousel .owl-item,
html .owl-carousel .owl-item > a,
html .owl-carousel .owl-stage:after {
  font-size: 0; }

/* line 82, core/02__global.scss */
html .owl-carousel .owl-item img {
  display: inline-block; }

/* line 91, core/02__global.scss */
body #global .front-slider .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1; }
/* line 99, core/02__global.scss */
body #global .front-slider button.owl-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: lightblue;
  margin: 0 5px; }
  /* line 107, core/02__global.scss */
  body #global .front-slider button.owl-dot.active {
    background: #315ba2; }
/* line 114, core/02__global.scss */
body #global .front-slider div.owl-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  /* line 119, core/02__global.scss */
  body #global .front-slider div.owl-nav > button {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 70px;
    margin-top: -35px; }

/* line 5, core/03__bootstrap.scss */
.wc-btn {
  display: inline-block;
  line-height: 1;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  border-top: 3px solid transparent;
  transition: all 0.7s ease;
  font-size: 15px;
  font-weight: bold; }
  /* line 16, core/03__bootstrap.scss */
  .wc-btn.classic {
    border: 1px solid transparent; }
  /* line 20, core/03__bootstrap.scss */
  .wc-btn span, .wc-btn .fa {
    display: inline-block;
    vertical-align: middle; }
  /* line 24, core/03__bootstrap.scss */
  .wc-btn, .wc-btn:hover, .wc-btn:visited, .wc-btn:active, .wc-btn:focus {
    text-decoration: none; }
  /* line 28, core/03__bootstrap.scss */
  .wc-btn.wc-primary {
    border-color: #8db53a;
    background: #315ba2;
    color: #fff !important; }
    /* line 32, core/03__bootstrap.scss */
    .wc-btn.wc-primary:hover, .wc-btn.wc-primary:visited, .wc-btn.wc-primary:active, .wc-btn.wc-primary:focus {
      border-color: #8db53a;
      background: #315ba2;
      color: #fff; }
    /* line 37, core/03__bootstrap.scss */
    .wc-btn.wc-primary:hover {
      border-color: #315ba2;
      background: #244379;
      color: #fff; }
    /* line 42, core/03__bootstrap.scss */
    .wc-btn.wc-primary:active {
      border-color: #315ba2;
      background: #eaa72b;
      color: #fff; }
  /* line 49, core/03__bootstrap.scss */
  .wc-btn .wc-disabled {
    opacity: 0.3 !important; }

/*
.form-control {
    box-shadow: none !important;
    &:focus {
        border-color: $colorMain;
        //box-shadow: 0 1px 1px $colorMain inset, 0 0 8px $colorMain;
        box-shadow: none;
        outline: 0 none;
    }
}
.has-error,
.has-success {
    .form-control {
        box-shadow: none;
    }
}
form {
    .help-block {
        margin: 0;
        font-size: 12px;
    }
}
*/
/* line 83, core/03__bootstrap.scss */
body .breadcrumbs {
  background: rgba(0, 0, 0, 0);
  padding: 0;
  position: relative;
  z-index: 1; }

/* line 89, core/03__bootstrap.scss */
body ul.breadcrumb {
  display: block;
  font-size: 0;
  margin: 0 auto 0 auto;
  border-radius: 0;
  padding: 4px 15px;
  background: #fff;
  clear: both;
  box-shadow: -5px 0px 3px -3px rgba(0, 0, 0, 0.1), 5px 0px 3px -3px rgba(0, 0, 0, 0.1);
  border-top: 0 solid transparent;
  border-bottom: 2px solid lightblue; }
  /* line 104, core/03__bootstrap.scss */
  body ul.breadcrumb > li {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0; }
    /* line 110, core/03__bootstrap.scss */
    body ul.breadcrumb > li > * {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      margin: 0;
      color: #315ba2; }
    /* line 119, core/03__bootstrap.scss */
    body ul.breadcrumb > li > span {
      color: #000 !important; }
    /* line 122, core/03__bootstrap.scss */
    body ul.breadcrumb > li > a {
      font-weight: bold; }
      /* line 125, core/03__bootstrap.scss */
      body ul.breadcrumb > li > a:hover {
        text-decoration: none; }
    /* line 135, core/03__bootstrap.scss */
    body ul.breadcrumb > li:before {
      content: "";
      font-size: 20px;
      display: inline-block;
      vertical-align: middle; }
    /* line 141, core/03__bootstrap.scss */
    body ul.breadcrumb > li + li:before {
      content: "\203a";
      position: relative;
      top: -2px;
      color: #009600 !important;
      margin: 0 15px 0 15px; }

/* line 162, core/03__bootstrap.scss */
.cont-default body ul.breadcrumb {
  max-width: 1280px; }

/* line 172, core/03__bootstrap.scss */
.pagination {
  border-radius: 0;
  display: inline-block;
  margin: 10px 0 20px 0;
  padding-left: 0; }
  /* line 178, core/03__bootstrap.scss */
  .pagination > li {
    display: inline; }
    /* line 182, core/03__bootstrap.scss */
    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0; }
    /* line 189, core/03__bootstrap.scss */
    .pagination > li > a,
    .pagination > li > span {
      background-color: #fff;
      color: black;
      float: left;
      line-height: 1.42857;
      margin-left: -1px;
      padding: 4px 12px;
      border-radius: 6px;
      position: relative;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      border: none;
      border-top: 3px solid #ccc; }
      /* line 206, core/03__bootstrap.scss */
      .pagination > li > a:focus, .pagination > li > a:hover,
      .pagination > li > span:focus,
      .pagination > li > span:hover {
        background-color: #fff;
        border: none;
        border-top: 3px solid #315ba2;
        color: #000;
        cursor: pointer;
        z-index: 2;
        text-decoration: none; }
    /* line 219, core/03__bootstrap.scss */
    .pagination > li > a {
      background: #fff;
      margin: 0 2px;
      display: inline-block; }
      /* line 223, core/03__bootstrap.scss */
      .pagination > li > a:hover {
        background: #fff;
        color: #000; }
    /* line 230, core/03__bootstrap.scss */
    .pagination > li.active > a,
    .pagination > li.active > span,
    .pagination > li.active > a:hover,
    .pagination > li.active > span:hover,
    .pagination > li.active > a:focus,
    .pagination > li.active > span:focus {
      background-color: #eaa72b;
      border: none;
      border-top: 3px solid #315ba2;
      color: #fff;
      cursor: default;
      z-index: 2; }
    /* line 245, core/03__bootstrap.scss */
    .pagination > li.disabled > a,
    .pagination > li.disabled > span,
    .pagination > li.disabled > a:hover,
    .pagination > li.disabled > span:hover,
    .pagination > li.disabled > a:focus,
    .pagination > li.disabled > span:focus {
      background-color: #fafafa;
      border: none;
      color: #cacaca;
      cursor: not-allowed; }

/*
.breadcrumbs {
    //font-family: "MyriadProRegular", Arial, sans-serif;
    background: $bgBreadcrumbs;
    //padding: 13px;
    .container {

    }
}
$bcPaddingTopBottom: 10px;
$bcLinkPaddingTopBottom: 8px;
$bcFontSize: 12px;
ul.breadcrumb {
    margin: 0;
    //padding: $bcPaddingTopBottom+$bcLinkPaddingTopBottom 10px $bcPaddingTopBottom 10px;
    //padding: 10px 0 0 0;
    padding: 0;
    background: none;
    font-size: $bcFontSize;
    &:before {
        content: "";
        display: block;
        clear: both;
        border-bottom: 1px solid #ececec;
        //padding: 0 0 10px 0;
        margin: 0 0 10px 0;
    }

    .glyphicon {
        //padding-right: 10px;
    }
    li:first-child a {
        //font-weight: bold;
    }

    > li {
        a {
            color: $colorLink !important;
            font-size: $bcFontSize;
            padding: 0 5px $bcLinkPaddingTopBottom 0;
            &:hover {
                color: $colorLink !important;
                text-decoration: underline;
            }
        }
        &.active {
            color: $colorBreadcrumbsActive !important;
            font-size: $bcFontSize;
            padding: 0 5px $bcLinkPaddingTopBottom 0;
        }

        + li::before {
            //content:"» ";
            //content: "\263a";
            //content: "\203a"; //&rsaquo;
            content: "\007c"; //&vert;
            //content: "/";
            padding: 0 10px 0 0;
            font-size: $bcFontSize;
            color: $colorBreadcrumbs !important;
            display: inline-block;
            //position: relative;
            //top: -2px;
            vertical-align: bottom;
        }
    }

}
*/
/* line 4, core/04__modal.scss */
.modal-backdrop {
  z-index: 2040; }
  /* line 6, core/04__modal.scss */
  .modal-backdrop.in {
    opacity: 0.8; }

/* line 14, core/04__modal.scss */
#modal-form.modal {
  z-index: 10000;
  text-align: center;
  padding: 0 !important;
  font-size: 0; }
  /* line 20, core/04__modal.scss */
  #modal-form.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  /* line 27, core/04__modal.scss */
  #modal-form.modal .modal-dialog {
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 16px; }
/* line 36, core/04__modal.scss */
#modal-form .modal-dialog {
  width: 100%;
  max-width: 500px;
  background: none;
  box-shadow: none; }
  /* line 43, core/04__modal.scss */
  #modal-form .modal-dialog .modal-content {
    background: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    padding: 10px;
    position: relative; }
    /* line 52, core/04__modal.scss */
    #modal-form .modal-dialog .modal-content .modal-header {
      padding: 30px 40px 0 40px;
      background: #fff;
      position: relative;
      border-radius: 10px 10px 0 0;
      border: none !important; }
      /* line 19, core/00__var.scss */
      #modal-form .modal-dialog .modal-content .modal-header:after {
        display: block;
        content: "";
        clear: both; }
      /* line 62, core/04__modal.scss */
      #modal-form .modal-dialog .modal-content .modal-header .close {
        width: 30px;
        height: 30px;
        color: transparent;
        text-shadow: none;
        overflow: hidden;
        background: transparent url("/themes/basic/img/modal/close-p.png") scroll no-repeat 0 0;
        background-size: contain;
        position: absolute;
        top: 34px;
        right: 20px;
        opacity: 1; }
        /* line 69, core/04__modal.scss */
        #modal-form .modal-dialog .modal-content .modal-header .close:hover {
          background-image: url("/themes/basic/img/modal/close-a.png"); }
      /* line 89, core/04__modal.scss */
      #modal-form .modal-dialog .modal-content .modal-header .custom-header {
        font-size: 24px;
        font-weight: bold;
        font-family: 'PT Sans',Arial,sans-serif;
        color: #315ba2;
        text-transform: uppercase;
        text-align: center; }
    /* line 100, core/04__modal.scss */
    #modal-form .modal-dialog .modal-content .modal-body {
      padding: 30px 40px 30px 40px;
      background: #fff;
      border-radius: 0 0 10px 10px; }
      /* line 19, core/00__var.scss */
      #modal-form .modal-dialog .modal-content .modal-body:after {
        display: block;
        content: "";
        clear: both; }
      /* line 112, core/04__modal.scss */
      #modal-form .modal-dialog .modal-content .modal-body .custom-body {
        font-size: 14px;
        color: black; }
        /* line 116, core/04__modal.scss */
        #modal-form .modal-dialog .modal-content .modal-body .custom-body .required-hint {
          color: #315ba2;
          font-size: 14px; }
        /* line 120, core/04__modal.scss */
        #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group {
          position: relative;
          margin: 0;
          padding: 0 0 30px 0; }
          /* line 125, core/04__modal.scss */
          #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group input, #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group textarea {
            font-size: 14px;
            border-top-width: 0 !important;
            border-left-width: 0 !important;
            border-right-width: 0 !important;
            border-bottom-width: 1px !important;
            border-radius: 0 !important; }
          /* line 134, core/04__modal.scss */
          #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group .form-control {
            box-shadow: none; }
          /* line 138, core/04__modal.scss */
          #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group .help-block {
            margin: 0;
            font-size: 12px; }
          /* line 143, core/04__modal.scss */
          #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group.modal-submit {
            padding: 20px 0 0 0;
            text-align: center; }
            /* line 169, core/04__modal.scss */
            #modal-form .modal-dialog .modal-content .modal-body .custom-body .form-group.modal-submit [type="submit"] {
              padding: 10px 50px; }
/* line 182, core/04__modal.scss */
#modal-form.head-off .modal-dialog .modal-content .modal-header {
  padding: 0; }
  /* line 184, core/04__modal.scss */
  #modal-form.head-off .modal-dialog .modal-content .modal-header .custom-header {
    display: none !important; }

/* line 201, core/04__modal.scss */
.field-eventform-types label {
  display: block; }

/* line 3, core/10__header.scss */
header.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background: lightblue;
  border-bottom: 1px solid #9bc4d2; }

/* line 18, core/10__header.scss */
#global {
  padding: 143px 0 0 0; }

/* line 23, core/10__header.scss */
html.front #global {
  padding: 0; }
/* line 26, core/10__header.scss */
html.front header.header {
  z-index: 2;
  background: rgba(173, 216, 230, 0.5); }

/* line 38, core/10__header.scss */
.head-main.area {
  font-size: 0;
  position: relative; }
  /* line 19, core/00__var.scss */
  .head-main.area:after {
    display: block;
    content: "";
    clear: both; }
  /* line 47, core/10__header.scss */
  .head-main.area > .cell.logo {
    float: left;
    width: 90px;
    margin: 3px 0 0 0; }
    /* line 51, core/10__header.scss */
    .head-main.area > .cell.logo img {
      height: 70px; }
  /* line 55, core/10__header.scss */
  .head-main.area > .cell.site {
    text-align: center;
    margin: 0 90px; }
    /* line 58, core/10__header.scss */
    .head-main.area > .cell.site .site-name {
      line-height: 1;
      font-size: 28px;
      font-weight: bold;
      color: #315ba2;
      text-align: center;
      margin: 0;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
      padding: 8px 0; }

/* line 154, core/10__header.scss */
.menu-top {
  margin: 0;
  padding: 0;
  display: inline-block; }
  /* line 158, core/10__header.scss */
  .menu-top li {
    display: inline-block;
    list-style: none;
    position: relative; }
    /* line 162, core/10__header.scss */
    .menu-top li a {
      display: inline-block;
      color: #315ba2;
      position: relative;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      text-decoration: none; }
      /* line 176, core/10__header.scss */
      .menu-top li a:hover {
        color: #ffd800;
        text-decoration: none; }
  /* line 183, core/10__header.scss */
  .menu-top > li {
    position: relative; }
    /* line 185, core/10__header.scss */
    .menu-top > li + li {
      border-left: 1px solid #5c92c7; }
    /* line 188, core/10__header.scss */
    .menu-top > li > a {
      font-weight: bold;
      font-size: 18px;
      color: #fff;
      background: #5a8bbe;
      padding: 5px 12px; }
    /* line 213, core/10__header.scss */
    .menu-top > li ul {
      display: none;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 100%;
      padding: 0;
      margin: 0;
      background: none;
      -webkit-transition: opacity 0.7s;
      transition: opacity 0.7s;
      text-align: left;
      min-width: 200px;
      border: none;
      border-radius: 0; }
      /* line 233, core/10__header.scss */
      .menu-top > li ul li {
        display: block; }
        /* line 235, core/10__header.scss */
        .menu-top > li ul li a {
          display: block;
          font-size: 16px;
          padding: 5px 12px;
          border-top: 1px solid #5c92c7;
          text-decoration: none;
          color: #fff; }
          /* line 257, core/10__header.scss */
          .menu-top > li ul li a:hover {
            color: yellow;
            text-decoration: none;
            background: #5a8bbe; }
    /* line 268, core/10__header.scss */
    .menu-top > li > ul > li ul {
      left: 100%;
      top: 0; }
    /* line 276, core/10__header.scss */
    .menu-top > li:hover > ul {
      display: block;
      background: #5a8bbe;
      opacity: 1;
      box-shadow: none !important; }
      /* line 290, core/10__header.scss */
      .menu-top > li:hover > ul > li:hover ul {
        display: block;
        background: #5a8bbe;
        opacity: 1;
        box-shadow: none !important; }
    /* line 305, core/10__header.scss */
    .menu-top > li.children:hover {
      color: yellow; }
      /* line 310, core/10__header.scss */
      .menu-top > li.children:hover > a {
        color: yellow;
        text-decoration: none;
        border-color: yellow !important; }

/* line 3, core/11__footer.scss */
footer.footer {
  background: lightblue; }
  /* line 6, core/11__footer.scss */
  footer.footer .foot-inner {
    margin: 0 -20px;
    padding: 10px; }
  /* line 11, core/11__footer.scss */
  footer.footer ul {
    margin: 0;
    padding: 0; }
  /* line 15, core/11__footer.scss */
  footer.footer li {
    display: inline-block; }
  /* line 18, core/11__footer.scss */
  footer.footer li + li {
    margin-left: 10px; }
  /* line 21, core/11__footer.scss */
  footer.footer a {
    display: inline-block;
    font-size: 16px;
    color: #315ba2; }
  /* line 27, core/11__footer.scss */
  footer.footer li.active a {
    text-decoration: underline !important; }
  /* line 33, core/11__footer.scss */
  footer.footer a, footer.footer a:focus, footer.footer a:visited, footer.footer a:active, footer.footer a:hover {
    color: #315ba2;
    text-decoration: none;
    transition: all 0.8s ease; }
  /* line 38, core/11__footer.scss */
  footer.footer a:hover {
    color: orange;
    text-decoration: none; }
  /* line 46, core/11__footer.scss */
  footer.footer .foot-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
    /* line 53, core/11__footer.scss */
    footer.footer .foot-inner a {
      flex: 0 0 auto;
      margin: 10px; }

/* line 3, core/14__sidebar-left.scss */
.side-links {
  margin: 30px 0; }
  /* line 5, core/14__sidebar-left.scss */
  .side-links a {
    display: block;
    background: #9cc3d1;
    color: #fff;
    transition: all 0.8s ease;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 4px;
    text-align: center; }
  /* line 15, core/14__sidebar-left.scss */
  .side-links a + a {
    margin-top: 10px; }
  /* line 19, core/14__sidebar-left.scss */
  .side-links a, .side-links a:focus, .side-links a:visited, .side-links a:active, .side-links a:hover {
    color: #fff;
    text-decoration: none;
    background: #9cc3d1; }
  /* line 24, core/14__sidebar-left.scss */
  .side-links a:hover {
    color: yellow;
    text-decoration: none;
    background: #5a8bbe; }

/* line 35, core/14__sidebar-left.scss */
.nav-main ul {
  margin: 0;
  padding: 0;
  text-align: right; }
/* line 40, core/14__sidebar-left.scss */
.nav-main li {
  display: block; }
/* line 43, core/14__sidebar-left.scss */
.nav-main li + li {
  margin-top: 10px; }
/* line 46, core/14__sidebar-left.scss */
.nav-main a {
  display: block;
  padding: 2px 10px;
  font-size: 16px;
  color: #000;
  background: #f1f1f1;
  text-align: center;
  border-radius: 4px; }
/* line 57, core/14__sidebar-left.scss */
.nav-main li.active a {
  color: orange !important; }
/* line 63, core/14__sidebar-left.scss */
.nav-main a, .nav-main a:focus, .nav-main a:visited, .nav-main a:active, .nav-main a:hover {
  color: #000;
  text-decoration: none;
  transition: all 0.8s ease; }
/* line 68, core/14__sidebar-left.scss */
.nav-main a:hover {
  color: #fff;
  text-decoration: none;
  background: #315ba2; }

/* line 6, core/20__page.scss */
.page-wrap > .head,
.page-wrapper > .head {
  margin: 0 0 20px 0; }

/* line 12, core/20__page.scss */
.page-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #315ba2 !important; }

/* line 3, core/21__widget.scss */
.widget-wrapper + .widget-wrapper {
  margin-top: 30px; }

/* line 6, core/21__widget.scss */
.widget-wrapper {
  border: 1px solid #5a8bbe;
  border-radius: 4px;
  background: #fff; }
  /* line 11, core/21__widget.scss */
  .widget-wrapper > .head .title {
    color: #fff;
    background: #5a8bbe;
    font-size: 20px;
    padding: 4px 10px;
    border-radius: 4px 4px 0 0;
    text-align: center; }
    /* line 18, core/21__widget.scss */
    .widget-wrapper > .head .title a {
      color: #fff !important; }
  /* line 23, core/21__widget.scss */
  .widget-wrapper > .body {
    padding: 10px;
    min-height: 20px;
    border-radius: 0 0 4px 4px; }

/* line 35, core/21__widget.scss */
.news-block a,
.doc-block a {
  line-height: 1;
  display: block; }

/* line 43, core/21__widget.scss */
.news-block + .news-block {
  margin-top: 10px; }
/* line 46, core/21__widget.scss */
.news-block .title {
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 5px 0; }
/* line 51, core/21__widget.scss */
.news-block .date {
  font-size: 10px; }

/* line 4, core/41__page-article.scss */
.page-wrapper.article img {
  max-height: 200px;
  display: inline-block;
  margin: 5px;
  cursor: pointer; }

/* line 14, core/41__page-article.scss */
.article-block + .article-block {
  border-top: 1px dashed silver;
  padding-top: 20px; }
/* line 19, core/00__var.scss */
.article-block:after {
  display: block;
  content: "";
  clear: both; }
/* line 22, core/41__page-article.scss */
.article-block .picture {
  float: left;
  margin: 0 10px 20px 0; }
/* line 27, core/41__page-article.scss */
.article-block .title {
  font-size: 26px;
  font-weight: bold; }
/* line 31, core/41__page-article.scss */
.article-block .info {
  min-height: 60px; }
/* line 37, core/41__page-article.scss */
.article-block .views {
  float: right; }
/* line 40, core/41__page-article.scss */
.article-block .tags {
  float: right;
  clear: right;
  font-size: 12px; }
/* line 45, core/41__page-article.scss */
.article-block .announce {
  line-height: 1; }

/* line 55, core/41__page-article.scss */
.page-wrapper .head .title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #315ba2 !important; }
/* line 66, core/41__page-article.scss */
.page-wrapper .body > .info {
  margin: 0 0 20px 0; }
  /* line 68, core/41__page-article.scss */
  .page-wrapper .body > .info > span {
    display: inline-block;
    margin: 0 20px 0 0; }
/* line 73, core/41__page-article.scss */
.page-wrapper .body > .picture {
  margin-bottom: 20px; }
/* line 76, core/41__page-article.scss */
.page-wrapper .body > .content {
  margin-bottom: 20px; }
/* line 81, core/41__page-article.scss */
.page-wrapper .body > .tags .title {
  margin-bottom: 10px; }
/* line 84, core/41__page-article.scss */
.page-wrapper .body > .tags a {
  display: inline-block;
  padding: 0 10px;
  background: #f1f1f1;
  border-radius: 4px;
  margin: 0 10px 5px 0; }

/* line 10, core/42__page-gal.scss */
.gal-item {
  position: relative;
  display: inline-block;
  height: 200px;
  margin: 5px;
  border: 1px solid #dddddd;
  padding: 1px; }
  /* line 18, core/42__page-gal.scss */
  .gal-item img {
    max-height: 100%; }
  /* line 23, core/42__page-gal.scss */
  .gal-item:before {
    position: absolute;
    width: 32px;
    height: 28px;
    top: 40%;
    left: 50%;
    margin: -14px 0 0 -10px;
    background: url("/themes/basic/img/magnifier.png") no-repeat;
    content: '';
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  /* line 37, core/42__page-gal.scss */
  .gal-item:hover:before {
    top: 50%;
    opacity: 1; }
  /* line 42, core/42__page-gal.scss */
  .gal-item:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  /* line 54, core/42__page-gal.scss */
  .gal-item:hover:after {
    opacity: 1; }

/* line 79, core/42__page-gal.scss */
html .lg-outer.lg-thumb-open .lg-thumb-outer {
  background-color: rgba(0, 0, 0, 0); }
/* line 83, core/42__page-gal.scss */
html .lg-backdrop {
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3040; }
  /* line 86, core/42__page-gal.scss */
  html .lg-backdrop.in {
    opacity: 1; }
/* line 91, core/42__page-gal.scss */
html .lg-sub-html, html .lg-toolbar {
  background-color: rgba(0, 0, 0, 0); }
/* line 94, core/42__page-gal.scss */
html .lg-outer {
  z-index: 3050; }

/*
html .lg-sub-html, html .lg-toolbar {
    background-color: rgba(0,0,0,0);
}
html .lg-toolbar .lg-icon {
    &:hover:after {
        color: #000;
    }
}
html .lg-sub-html {
    display: none;
}
html .lg-backdrop {
    background-color: #fff;
}
html .lg-outer .lg-thumb-outer {
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #000;
}
html .lg-outer .lg-thumb-item {
    border: 2px solid #f1f1f1;
}
html .lg-outer .lg-toogle-thumb {
    background-color: #fff;
    top: -40px;
    &:hover:after {
        color: #000;
    }
}
html .lg-actions .lg-next,
html .lg-actions .lg-prev {
    background-color: rgba(0, 0, 0, 0);
    &:hover:before {
        color: #000;
    }
}
*/
/*
.lg-outer {
    .lg-thumb-outer {
        background-color: $lg-thumb-bg;
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: $zindex-thumbnail;
        max-height: 350px;
        @include translate3d(0, 100%, 0);
        @include transitionCustom(transform 0.25s cubic-bezier(0, 0, 0.25, 1) 0s);

        &.lg-grab {
            .lg-thumb-item {
                @include grab-cursor;
            }
        }

        &.lg-grabbing {
            .lg-thumb-item {
                @include grabbing-cursor;
            }
        }

        &.lg-dragging {
            .lg-thumb {
                @include transition-duration(0s !important);
            }
        }
    }
    &.lg-thumb-open{
        .lg-thumb-outer {
            @include translate3d(0, 0%, 0);
        }
    }

    .lg-thumb {
        padding: 10px 0;
        height: 100%;
        margin-bottom: -5px;
    }

    .lg-thumb-item {
        border-radius: 5px;
        cursor: pointer;
        float: left;
        overflow: hidden;
        height: 100%;
        border: 2px solid #FFF;
        border-radius: 4px;
        margin-bottom: 5px;
        @media (min-width: 1025px) {
            @include transition(border-color 0.25s ease);
        }

        &.active, &:hover {
            border-color: $lg-theme-highlight;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.lg-has-thumb {
        .lg-item {
            padding-bottom: 120px;
        }
    }

    &.lg-can-toggle {
        .lg-item {
            padding-bottom: 0;
        }
    }
    &.lg-pull-caption-up{
        .lg-sub-html {
            @include transition(bottom 0.25s ease);
        }
        &.lg-thumb-open{
            .lg-sub-html {
                bottom: 100px;
            }
        }
    }

    .lg-toogle-thumb {
        background-color: $lg-thumb-toggle-bg;
        border-radius: $lg-border-radius-base $lg-border-radius-base 0 0;
        color: $lg-thumb-toggle-color;
        cursor: pointer;
        font-size: 24px;
        height: 39px;
        line-height: 27px;
        padding: 5px 0;
        position: absolute;
        right: 20px;
        text-align: center;
        top: -39px;
        width: 50px;

        &:after {
            content: "\e1ff";
        }

        &:hover {
            color: $lg-thumb-toggle-hover-color;
        }
    }
}
*/
/* line 7, core/43__page-gals.scss */
.gal-card {
  display: inline-block;
  margin: 5px 5px 20px 5px;
  border: 2px solid #dddddd;
  padding: 1px;
  font-size: 0;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  /* line 21, core/43__page-gals.scss */
  .gal-card, .gal-card:focus, .gal-card:visited, .gal-card:active, .gal-card:hover {
    text-decoration: none; }
  /* line 24, core/43__page-gals.scss */
  .gal-card .title {
    text-align: center;
    display: block;
    width: 300px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #315ba2;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
    /* line 41, core/43__page-gals.scss */
    .gal-card .title span {
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      display: inline-block;
      vertical-align: middle;
      line-height: 1; }
  /* line 52, core/43__page-gals.scss */
  .gal-card:hover {
    border-color: darkorange; }
    /* line 54, core/43__page-gals.scss */
    .gal-card:hover .title {
      color: darkorange; }
      /* line 56, core/43__page-gals.scss */
      .gal-card:hover .title span {
        color: darkorange; }

/* line 62, core/43__page-gals.scss */
.gal-pic {
  overflow: hidden;
  display: inline-block;
  width: 300px;
  height: 200px; }
  /* line 69, core/43__page-gals.scss */
  .gal-pic img {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-filter: opacity(50%);
    filter: opacity(50%); }

/* line 93, core/43__page-gals.scss */
.gal-card:hover .gal-pic img {
  -webkit-filter: opacity(100%);
  filter: opacity(100%); }

@media (max-width: 1200px) {
  /* line 10, core/99__mobile-all.scss */
  #global {
    overflow-x: hidden;
    overflow-y: scroll; }

  /* line 15, core/99__mobile-all.scss */
  .body,
  .primary {
    overflow-x: scroll; }

  /* line 20, core/99__mobile-all.scss */
  table {
    max-width: 100% !important; }

  /* line 25, core/99__mobile-all.scss */
  .article-block .picture {
    float: none;
    margin: 0;
    text-align: center; }
  /* line 30, core/99__mobile-all.scss */
  .article-block .title {
    text-align: center;
    line-height: 1;
    padding: 10px 0; } }
@media (max-width: 700px) {
  /* line 39, core/99__mobile-all.scss */
  body #global .front-slider .owl-dots {
    display: none; }

  /* line 43, core/99__mobile-all.scss */
  .primary img {
    max-width: 100% !important;
    height: auto !important; } }
/* line 5, core/99__mobile-new.scss */
body .mm-listitem__text {
  white-space: normal; }
/* line 8, core/99__mobile-new.scss */
body iframe {
  max-width: 100%; }

/* line 13, core/99__mobile-new.scss */
.mm-wrapper--position-left.mm-wrapper--opened .mm-slideout,
.mm-wrapper--position-right.mm-wrapper--opened .mm-slideout {
  transform: translate3d(300px, 0, 0) !important; }

/* line 17, core/99__mobile-new.scss */
.mm-menu--position-left,
.mm-menu--position-left-front,
.mm-menu--position-right,
.mm-menu--position-right-front {
  width: 300px !important; }

/* line 32, core/99__mobile-new.scss */
.mob-row {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  line-height: 1;
  font-size: 0;
  overflow: hidden;
  background: #FFF;
  padding: 5px 10px 5px 10px;
  text-align: center;
  border-bottom: 1px solid silver; }

/* line 48, core/99__mobile-new.scss */
.row-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center; }

/* line 54, core/99__mobile-new.scss */
.mob-logo {
  display: inline-block;
  padding: 0 5px 0 5px; }
  /* line 57, core/99__mobile-new.scss */
  .mob-logo img {
    height: 40px; }

/* line 61, core/99__mobile-new.scss */
.mob-school {
  display: inline-block;
  font-size: 14px;
  color: #1c1c1c;
  font-weight: bold; }

@media (max-width: 1200px) {
  /* line 69, core/99__mobile-new.scss */
  html.front #global,
  #global {
    padding: 49px 0 0 0; }

  /* line 73, core/99__mobile-new.scss */
  .sidebar-left,
  .header {
    display: none; }

  /* line 78, core/99__mobile-new.scss */
  main.sbl .main-inner {
    margin-left: 0; }

  /* line 82, core/99__mobile-new.scss */
  .mob-row {
    display: block !important; }

  /* line 86, core/99__mobile-new.scss */
  body ul.breadcrumb {
    display: flex !important;
    padding: 5px;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    width: 100%; }
    /* line 93, core/99__mobile-new.scss */
    body ul.breadcrumb li, body ul.breadcrumb a {
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      padding: 5px;
      flex: 0 0 auto; } }
/* line 105, core/99__mobile-new.scss */
#mob-chk {
  display: none; }

/* line 108, core/99__mobile-new.scss */
.side-open {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 0;
  line-height: 1;
  margin: 0;
  padding: 0; }
  /* line 125, core/99__mobile-new.scss */
  .side-open > * {
    font-size: 40px; }

@media (max-width: 1200px) {
  /* line 140, core/99__mobile-new.scss */
  body .side-open {
    display: inline-block !important; }

  /* line 143, core/99__mobile-new.scss */
  .mob-tgl {
    margin: 0; }

  /* line 149, core/99__mobile-new.scss */
  footer.footer .foot-inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; } }

/*# sourceMappingURL=core.css.map */
